{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./dist"
  }
}
